.top-page-header{
    padding: 20px;
    font-size: large;
    color: red;
    background-color: yellow;
    display: flex;
    justify-content: space-around;
}

.login-menu{
    padding: 5px;
    display: block;
    justify-content: flex-end;
}

li{
    list-style: none;
    color: red;
    border: 1px solid red;
}

.index-image{
    width: 100%;
    height: auto;
}

.all-reviews{
    display: flex;
    flex-direction: column;
}